@using BlogApplication.Models
@model BlogApplication.Models.BlogPostViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container post-container px-4 pb-4">
    <h2 class="text-center" style="font-weight: bolder; font-variant: small-caps">
        <font size="5" face="georgia">@Model.Post.Title</font>
    </h2>
    <p class="text-center"><small>By @(Model.UserFullName), Posted on @Model.Post.PublishDate.ToString("dd/MM/yyyy - hh:mm tt")</small></p>
    <p class="text-center">
        <font size="3" face="verdana">@Model.Post.Body</font>
    </p>

    @{ Html.RenderPartial("_CommentForm", new Comment {BlogPostId = Model.Post.Id}); }

    <div class="container comment-container mt-5">
        <div class="row">
            @foreach (var comment in Model.Comments)
            {
                <div class="col-md-12 user-comment my-1">
                    <div class="col-md-12">
                        <p>
                            <b>@Model.UserFullName</b>
                            <small>on @comment.PostedDate.ToString("dd/MM/yyyy - hh:mm tt")</small>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>@comment.Body</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>